@{
    ViewData["Title"] = "Access Denied";
}

@{
    Layout = null;
}

<h2>Access Denied</h2>
<p>You do not have permission to view this page.</p>
<a href="/Utilisateurs/Login" class="text-primary">Se connecter</a>